/*HTML tags styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lato", Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
}

h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;

}

li {
    text-decoration: none;
    list-style: none;
    padding: 2.5% 0;
}

li a {
    text-decoration: none;
    color: #000;
    font-weight: 300;

    font-size: 0.9em;
    transition: all .5s;
    padding: .2em;
}

.mobile-quick-link {
    display: none;
}

li a:hover {
    font-weight: 800;
    color: #f1c40f;
    cursor: context-menu;
    border: 2px solid #f1c40f;
    border-style: dashed;
    border-bottom: 2px solid #f1c40f;
}

h1 {
    font-size: 240%;
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
    letter-spacing: 1px;
    word-spacing: 4px;
}

h2 {
    font-size: 150%;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    color: #f1c40f;
    font-weight: 700;
    border: 1px rgba(0, 0, 0, 0.9);
}

header {
    background-image: linear-gradient(rgba(100, 10, 39, 0.7), rgba(15, 15, 39, 0.9)), url("img/heroimage1.jpeg");
    width: 100%;
    height: 720px;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

section {
    padding-top: 2.5em;
}

p {
    font-size: 1.0em;
    line-height: 170%;
}

.row {
    margin: 0 auto;
    max-width: 1140px;
}

/*Social Media Tab*/

.no-display {
    display: none;
}

.fa-facebook {
    color: #3a5897;
}

.fa-twitter-square {
    color: #49c9f2;
}

.fa-instagram {
    color: #b00350
}

.fa-linkedin {
    color: #1178b0;
}

#top span {
    margin-left: 10%;
}

#top span a {
    background-color: white;
    padding: 0;
    border: inset 2px rgba(255, 215, 0, 0.4);
}

.social-media .icon {
    display: none;
}

/*Navigation bar*/
.navbar {
    overflow: hidden;
    background-color: whitesmoke;
    position: fixed;
    height: 65px;

    padding: 0 10%;
    padding-left: 55%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 5px;
}

.navbar a {
    float: left;
    display: block;
    color: #22253a;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
    height: 65px;
}

.navbar a:hover {
    background-color: rgba(241, 196, 15, 0.6);
    color: #22253a;
}

.active {
    background-color: #f1c40f;
    color: whitesmoke;
}

.navbar i {
    position: absolute;
    color: #f1c40f;
    left: 0;
    top: 20%;
    float: left;
    font-size: 2em;
    margin: 0 8%;
}

.navbar i span {
    padding: 0 5%;
    font-family: "Lato", Arial, sans-serif;
    font-size: 0.6em;
}

.titleheader {
    padding: 1% 5%;
    color: white;
    background-image: linear-gradient(rgba(100, 10, 39, 0.7), rgba(15, 15, 39, 0.9)), url("img/headbg.jpeg");
    width: 100%;
    height: 25vh;
    background-size: cover;
}

.hero-text {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

.hero-text p {
    width: 45%;
    color: white;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    margin: 8px 0px 20px 0px;
    font-weight: 300;
    text-decoration: none;
    font-size: 1em;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 4px;
}

.btn-full {
    background-color: #f1c40f;
    border: 1px solid #f1c40f;
}

.btn-empty {
    border: 1px solid #f1c40f;
    color: #f1c40f;
}

.btn-empty:hover {
    border: 1px solid #22253a;
    color: white;
    background: #22253a;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px;
}

.btn-full:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px;
}

.box {
    padding: 1%;
}

#back-drop {
    padding-top: 5%;
    background-image: linear-gradient(rgba(100, 10, 39, 0.8), rgba(15, 15, 39, 0.9)), url("img/footerbg.jpeg");
    background-attachment: fixed;
    height: 400px;
}

.select-country{
    background-color: #f1c40f;
    border: 1px solid #f1c40f;
    padding: 1%;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 4px;
}

.select-country:hover{
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px;
}
.tname {
    color: #f1c40f;
    font-weight: bolder;
    font-style: italic;
}

.icon-big {
    font-size: 400%;
    display: block;
    color: #f1c40f;
    margin-bottom: 10px;
}

#section-countries {
    height: auto;
}

body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*Section for testimonials */

#section-testimonials {
    padding: 10% 0;
    clear: both;
}

#section-testimonials .card {
    padding: 4%;
}

/*Country section*/
.country-photo {
    width: 100%;
}

.country-photo img {
    width: inherit;
    height: auto;
}

#section-countries .heading {
    color: white;
}

#back-drop .card {
    background-color: rgba(255, 255, 255, 0.8);
}

.card {
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 8px;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
}

.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}

#statistics-data {
    color: white;
    font-size: 12%;
}

.stats-table {
    width: 40%;
}

.stats-table tr {
    color: white;
    border: 2px solid #dddddd;
    font-size: 7em;
}

.stats-table tr td {
    padding: 1% 5%;
    font-weight: 500;
}

.mainview {
    margin-top: 8%;
}

.titleheader {
    position: relative;
    clear: both;
    background-color: #0f0f27;
}

.titleheader h2 {
    margin: 3%;
}

.list-img {
    text-align: center;
    margin-right: 10%;
    padding-top: 4.5%;

}

.list-img img {
    width: 90%;
    margin-bottom: 10%;
}

#top p {
    color: whitesmoke;
    font-weight: 500;
    transform: translate(0%, -20%);
}

#top p span {
    float: right;
    margin: 0 6%;
}

#top p span i {
    margin: 0 5px;
}

.list-img#quick-links {
    margin-right: 10%;
}

.footer {
    overflow: hidden;
    background-image: linear-gradient(rgba(100, 10, 39, 0.8), rgba(15, 15, 39, 1)), url("img/footerbg.jpeg");
    background-size: cover;
    bottom: 0;
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 50px;
    color: white;
}

.copyright {

    background-color: #0f0f27;
    width: 100%;
    height: 60px;
    text-align: center;
    color: white;
    font-weight: 500;
    padding: 15px 0;
}

.copyright span {
    color: #f1c40f;
}

#piechart {
    width: 80%;
    height: 60%;
}

.social-media {
    overflow: hidden;
    background-color: #f1c40f;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 100;
    padding: 14px 100px;
}

.aboutus p {
    text-align: center;
    padding: 5%;
}

.heading {
    position: relative;
    padding-bottom: 10px;
    text-indent: 15px;
    right: 15px;
    text-align: left;
}

#line-chart {

}

.listing {
    padding-left: 10%;
}

.heading:after {
    content: '';
    display: block;
    position: absolute;
    border-right: 5px solid #22253a;
    background-color: #f1c40f;
    bottom: 0;
    left: 15px;
    width: 60px;
    height: 3px;
    z-index: 10;
}

.bar-chart {
    background-color: #C7D9D9;
}

#data {
    text-align: center;
}

/*List universities styles*/
.university-list {
    text-align: left;
    margin: 0;
}

.university-list a {
    font-size: 1em;
    width: 160px;
    font-weight: 500;
    text-align: center;
}

table.university-list {

}

#quick-stats {
    height: auto;
    font-size: 0.9em;
    padding: 2% 30%;
    background-image: linear-gradient(rgba(15, 15, 39, 0.9), rgba(15, 15, 39, 0.9)), url("img/stats.jpeg");
}

#list-all {
    background-color: gray;
    display: none;
}

/*Media queries to make the website response for mobile phones*/
@media screen and (max-width: 480px) {
    .navbar {
        display: none;
    }

    .social-media .icon {
        float: left;
        display: block;
    }

    .fa {
        color: whitesmoke;
    }

    .navbar.responsive {
        position: fixed;
        top: 50px;
        height: auto;
        padding: 0%;
    }

    .navbar.responsive .icon {
        position: absolute;
        left: 0;
        top: 0;

    }

    .icon span {
        text-transform: uppercase;
        font-family: "Lato", Arial, sans-serif;
        color: whitesmoke;
        padding-left: 30%;
        font-weight: 800;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
        padding-left: 10%;
    }

    .social-media {
        padding: 5% 10%;
        height: 60px;
        color: whitesmoke;
        font-weight: 500;
    }

    #top-msg {
        display: none;
    }

    .hero-text {
        font-size: 0.95em;
        position: absolute;
        max-width: 350px;
        top: 36%;
        left: 20%;
        transform: translate(-10%, -10%);
    }

    .hero-text h1 {
        font-size: 1.3em;
    }

    .hero-text p {
        width: 100%;
    }

    .row {
        margin: 2% 6%;
    }

    .box {
        padding: 5%;
        width: 90%;
    }

    .heading {
        margin: 5%;
        font-size: 1.1em;
    }

    .card {
        margin-top: 5% !important
    }

    .footer .row p {
        padding: 5%;
    }

    .footer .row a {
        margin: 5%;
    }

    #quick-stats table {
        font-size: 5em;
    }

    .titleheader {
        margin-top: 60px;
        height: 15%;
        font-size: 0.9em;
    }

    #list-all {
        border: gray;
        display: inline;
        width: 22%;
    }

    .mobile-quick-link {
        display: block;
    }

    #quick-links {
        display: none;
    }

    #listing .heading {
        display: none;
    }

    #showlist {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
        padding: 5%;
        position: absolute;
        top: 20%;
        z-index: 50;
        background-color: whitesmoke;
        margin-left: 4%;
    }

    .fa-times {
        color: #f1c40f;
        padding-bottom: 5%;
    }

    #quick-stats {
        margin: 0;
        padding: 5%;
    }

    #top-msg {
        display: none;
    }

    .navbar i {
        display: none;
    }

    .university-list {
        padding-top: 0;
        font-size: 0.8em;
    }

    .university-list a {
        width: 140px;
    }

    .stats-table tr {
        color: white;
        border: 2px #dddddd;
        font-size: 1.5em;
    }

    #back-drop {
        height: 100%;
        padding-bottom: 10%;
    }

    #section-introduction .country-photo {
        display: none;
    }
}